@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profil {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.c-1 {
    color: #400521;
}

.c-2 {
    color: #700a36;
}

.f {
    display: flex;
}

.j-c {
    justify-content: center;
}

.a-i{
    align-items: center;
}

.error-form {
    color: red;
    display: none;
    text-align: center;
    margin-bottom: 0;
}

.form-container {
    width: 90%;
    margin-top: 5rem;
}

.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.2);
    margin: 1rem 1rem;
}

.pseudo{
    text-align: center;
}

.edit_profil_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #700a36;
    padding: 12px;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #fff;
    border-radius: 5px;
}

.edit_profil_btn:hover{
    background-color: #400521;
    outline: 1px solid #700a36;
    box-shadow: 0 0 8px #700a369a;
}

a .edit_profil_btn{
    color: #fff;
    text-decoration: none;
}

.container_info{
    border: 1px solid #400521;
    border-radius: 10px;
    padding: 1rem;
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.social {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.social i {
    background-color: #700a36;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ced4da;
    box-sizing: border-box;
}

.two_social{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.social_info {
    padding: 10px;
    font-size: 1rem;
    min-width: 100%;
}

.card-event{
    margin-bottom: 2rem;
    border: 1px solid #400521;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}

.pfp-event-card{
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.titre-event{
    margin: 0 15px 0 0;
}

.pastille-theme{
    display: flex;
    padding: 4px 20px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 20px;
    width: fit-content;
}

.rond{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.rouge{
    background-color: #b94949;
}

.bleu{
    background-color: #5d90c6;
}

.jaune{
    background-color: #c3ab65;
}

.marine{
    background-color: #5a8f88;
}

.date{
    margin-right: 15px;
}

.desc-event{
    margin-bottom: 15px !important;
}

.participants-container{
    display: flex;
    justify-content: right;
}

.participants{
    border: 1px solid #400521;
    padding: 8px;
    width: fit-content;
}

.card-event h4{
    margin-bottom: 0;
}

@media(min-width: 769px) {
    .profil {
        width: 128px;
        height: 128px;
    }
    
    .img-container{
        margin-bottom: 5rem;
    }
    
    .container{
        width: 80%;
    }
    
    .container_info{
        width: 70%;
    }
}

@media(min-width:1280px){
    .container {
        width: 60%;
    }

    .container_info{
        width: 50%;
    }
}