body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.title_eventForm{
    color: #700A36;
}

.c-1 {
    color: #400521;
}

.c-2 {
    color: #700a36;
}

.f {
    display: flex;
}

.j-c {
    justify-content: center;
}

a.arrow {
    color: inherit;
    text-decoration: none;
    margin-left: 5%;
}

.container {
    width: 90%; 
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

textarea {
    resize: vertical;
    height: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.pastille-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pastille-theme{
    display: flex;
    padding: 4px 20px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: .5rem;
    width: fit-content;
    justify-content: center;
    cursor: pointer;
}

.rond{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.rouge{
    background-color: #b94949;
}

.bleu{
    background-color: #5d90c6;
}

.jaune{
    background-color: #c3ab65;
}

.marine{
    background-color: #5a8f88;
}

.form-container button[type="submit"] {
    width: 75%;
    padding: 1rem;
    background-color: #700a36;
    color: #fff;
    border: 1px solid #ced4da;
    cursor: pointer;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.form-container button[type="submit"]:hover {
    background-color: #400521;
    outline: 1px solid #700a36;
    box-shadow: 0 0 8px #700a369a;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    color: #212529;
    font-size: 14px;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    border-radius: 5px;
    margin-top: 4px;
}

.form-container select.placeholder {
    color: gray;
}

.form-container textarea {
    height: 90px;
    resize: vertical;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
    outline: 1px solid #700a36;
    box-shadow: 0 0 8px #700a369a;
}

.name-container {
    display: flex;
    gap: 1.5rem;
}

.name-container input {
    width: 100%;
}

.form-container button[type="submit"] {
    width: 75%;
    padding: 1rem;
    background-color: #700a36;
    color: #fff;
    border: 1px solid #ced4da;
    cursor: pointer;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.form-container button[type="submit"]:hover {
    background-color: #400521;
    outline: 1px solid #700a36;
    box-shadow: 0 0 8px #700a369a;
}

.form-grip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.2);
    margin: 1rem 1rem;
}

.form-container{
    width: 90%;
}

#submit-container{
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
 
    .pastille-theme{
        display: flex;
        padding: 4px 20px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 20px;
        margin-top: .5rem;
        justify-content: center;
        width: 90%;
    }
    
    .pastille-container{
        flex-direction: column;
    }

    .rond{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
    }
    
    .rouge{
        background-color: #b94949;
    }
    
    .bleu{
        background-color: #5d90c6;
    }
    
    .jaune{
        background-color: #c3ab65;
    }
    
    .marine{
        background-color: #5a8f88;
    }
}

@media(min-width: 769px) {
    .container {
        width: 60%; 
        margin: auto;
        min-height: 70vh; 
        overflow-y: auto; 
    }
}